/* src/assets/fonts/fonts.css */

@font-face {
  font-family: "Clashdisplay";
  src: url("./Clashdisplay/ClashDisplay-Bold.otf") format("truetype"); /* Adjust the file path and format as needed */
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Clashdisplay";
  src: url("./Clashdisplay/ClashDisplay-Semibold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */
.clash {
  font-family: "Clashdisplay";
}
